apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "backend.fullname" . }}-config
  labels:
    {{- include "backend.labels" . | nindent 4 }}
data:
  APP_MESSAGE: {{ .Values.config.appMessage | quote }}
  DB_HOST: {{ .Values.config.database.host | quote }}
  DB_NAME: {{ .Values.config.database.name | quote }}
  DB_USER: {{ .Values.config.database.user | quote }}
  FEATURE_TOGGLES: {{ .Values.config.featureTips | toJson | quote }}

