apiVersion: v1
kind: Secret
metadata:
  name: {{ include "backend.fullname" . }}-secrets
  labels:
    {{- include "backend.labels" . | nindent 4 }}
type: Opaque
stringData:
  DB_PASSWORD: {{ .Values.secrets.databasePassword | quote }}
  API_TOKEN: {{ .Values.secrets.apiToken | quote }}

